# Byte-compiled / optimized / DLL files (Python)
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# VS Code settings
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Docker
*.log
docker-compose.override.yml
docker-compose.*.yml
.env
.env.*
.dockerignore

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.terraformrc
terraform.rc

# Kubernetes
kubeconfig
*.kubeconfig
*.yaml~
*.yml~
*.bak

# Editor swap files
*.swp
*.swo
*~

# Logs
logs/
*.log

# Secret files (if any)
secrets.*
*.pem
*.key
*.crt
